.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    gap: 20px;
    flex-wrap: wrap;
}
.card{
    background-color: #5cb874;
    width: 350px;
    height: 200px;
    border-radius: 20p;
    border-radius: 30px;
    text-align: center;
}