.foot .footer {
    color: white;
    background-color: black;
    font-size: 14px;
    padding-bottom: 50px;
    position: absolute;
   
  }
 
  .foot .footer .footer-top {
    padding-top: 50px;
    border-top: 1px solid color-mix(in srgb, var(--default-color), transparent 90%);
  }
 
  .foot .footer .footer-about .logo {
    line-height: 1;
    margin-bottom: 25px;
  }
 
  .foot .footer .footer-about .logo img {
    max-height: 40px;
    margin-right: 6px;
  }
 
  .foot .footer .footer-about .logo span {
    color: var(--heading-color);
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    font-family: var(--heading-font);
  }
 
  .foot .footer .footer-about p {
    font-size: 14px;
    font-family: var(--heading-font);
  }
 
  .foot .footer .footer-about a{
    text-decoration: none;
    color: #5cb874;
  }
 
  .foot .footer .social-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid color-mix(in srgb, var(--default-color), transparent 50%);
    font-size: 16px;
    color: color-mix(in srgb, var(--default-color), transparent 50%);
    margin-right: 10px;
    transition: 0.3s;
    text-decoration: none;
  }
 
  .foot .footer .social-links a:hover {
    color: var(--accent-color);
    border-color: var(--accent-color);
  }
 
  .foot .footer h4 {
    font-size: 16px;
    font-weight: bold;
    position: relative;
    padding-bottom: 12px;
  }
 
  .foot .footer .footer-links {
    margin-bottom: 30px;
  }
 
  .footer .footer-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
 
  .footer .footer-links ul i {
    padding-right: 2px;
    font-size: 12px;
    line-height: 0;
  }
 
  .footer .footer-links ul li {
    padding: 10px 0;
    display: flex;
    align-items: center;
   
  }
 
  .footer .footer-links ul li a{
    text-decoration: none;
  }
 
  .footer .footer-links ul li:first-child {
    padding-top: 0;
  }
 
  .footer .footer-links ul a {
    color: color-mix(in srgb, var(--default-color), transparent 20%);
    display: inline-block;
    line-height: 1;
  }
 
  .footer .footer-links ul a:hover {
    color: tomato;
  }
 
  .footer .footer-contact p {
    margin-bottom: 5px;
  }
 
  .footer .copyright {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: #555555;
  }
 
  .footer .copyright p {
    margin-bottom: 0;
  }
 
  .footer .credits {
    margin-top: 6px;
    font-size: 13px;
  }
 
   /* Keyframes for sliding text from the top */
   @keyframes slideDown {
    0% {
      transform: translateY(-50px); /* Start above */
      opacity: 0; /* Fully transparent */
    }
    100% {
      transform: translateY(0); /* End at original position */
      opacity: 1; /* Fully visible */
    }
  }
 